export COWIN_URL=https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/findByDistrict
export ALERT_DAYS=7
export SLACK_WEBHOOK_URL=
export COWIN_DISTRICT_IDS=302,305
export COWIN_FIRST_DOSE_ONLY=true
export COWIN_SECOND_DOSE_ONLY=false
export COWIN_FREE_VACCINE_ONLY=
export TELEGRAM_BOT_TOKEN=
export TELEGRAM_CHAT_ID=
export MIN_AGE=